@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
.inter-interfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.grey-qo-regular {
    font-family: "Grey Qo", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.bar{
    color: aliceblue;
}
.body-class{
    background: rgb(17, 17, 17);
}
.display-flex{
    display: flex;
}
.btn-primary{
    padding: 5px 15px 5px 15px;
    color: rgb(255, 255, 255);
    border-radius: 46px;
background: rgb(230, 83, 60);
}
/* navbar */
.navbar{
    justify-content: space-between;
    padding: 35px 120px 35px 120px;
    align-items: center;
}
.name{
    color: rgb(230, 83, 60);
font-size: 22px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.about-name{
    list-style: none;
    gap: 30px;
    align-items: center;
}
.about-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Inter;
font-size: 13px;
font-weight: 300;
line-height: 120%;
letter-spacing: 0%;
text-align: left
}

/* bannar */
.banner{
    padding: 35px 120px 35px 120px;
    /* gap: 30px; */
 justify-content: space-between;
}
.banner-headline{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 60px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
}
.shape{
    font-size: 60px;
    font-weight: 200;
}
.banner-details{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 20px;
}
.btn-two{
    background-color: rgb(17, 17, 17);
    box-sizing: border-box;
border: 1px solid rgb(255, 255, 255);
border-radius: 42px;
padding: 5px 15px 5px 15px;
color: rgb(255, 255, 255);

}
.banner-topic{
 margin-top: 80px;
}
.red-dot{
    height: 20px;
    width: 20px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}
.video-one{
   gap: 5px;
    align-items: center;
}
.video-tu{
    color: rgb(250, 250, 249);
font-family: Inter;
font-size: 14px;
font-weight: 900;
line-height: 1px;
letter-spacing: 0.3px;
text-align: left;
}
.video-tuto{
    color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 10px;
font-weight: 400;
line-height: 1px;
letter-spacing: 0.5px;
text-align: left;
}
.video-one{
    /* box-sizing: border-box; */
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.54);
height: 60px;
width: 120px;
padding: 4px 6px;
/* position: absolute; */
margin-top: -180px;
margin-left: -40px;
}
.workout500{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 16px;
font-weight: 900;
line-height: 1px;
letter-spacing: 1px;
text-align: left;
}
.workouttutorial{
    color: rgba(255, 255, 255, 0.65);
font-family: Inter;
font-size: 9px;
font-weight: 400;
line-height: 1px;
letter-spacing: 1px;
text-align: left;
}
.video-workout{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    height: 60px;
    width: 120px;
    padding: 4px 6px; 
    margin-top: -290px;
    /* margin-right: -500px; */
    margin-left: 270px;
}

/* Change-Your-Habits */
.Change-Your-Habits{
    padding: 150px 120px 35px 120px;
}
.habit-name{
    justify-content: center;
}
.habit-head{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 40px;
font-weight: 900;
line-height: 80%;
letter-spacing: 0%;
text-align: center;
}
.habit-details{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 10px;
font-weight: 400;
line-height: 10px;
letter-spacing: 0.3px;
text-align: center;
}
.habit-card{
    display: flex;

}
.habitcard{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 10px; */
    margin-left: 50px;
}
.habit_img{
    border-radius: 50%;
   align-items: center;
}
.habit-card-head{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
}
.habit-card-details{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 9px;
font-weight: 400;
line-height: 10px;
letter-spacing: 0.3px;
text-align: center;
}

/* Run an Extra Mile Easily */
.Run-an-Extra-Mile-Easily{
    margin: 35px 120px 35px 120px;
    padding-left: 80px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
     border-radius: 18px;
     background: rgb(34, 34, 34);
    gap: 150px;
}
.run-headline{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 35px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.run-details{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 10px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
}
.run-image{
    width: 366px;
height: 312px;
border-radius: 18px;
}

/* BMI Calculator */

.BMI-Calculator-head{
   padding: 40px 350px 40px 350px;
}
.BMI-Calculator-headline{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 37px;
font-weight: 900;
letter-spacing: 0%;
text-align: left;
}
.BMI-Calculator-details{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 10px;
font-weight: 400;
letter-spacing: 0.3px;
text-align: left;
margin-top: 20px;
}
table {
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid white;
    padding: 10px 20px;
    color: antiquewhite;
  }
  .bmi-calculator-head{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 25px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
  }
.bmi-calculator-details{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 10px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: left;
}
.bmi-data-table-head{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 25px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;   
}
input{
    width: 250px;
    height: 40px;
    border-radius: 8px;

background: rgba(255, 255, 255, 0.1);
}
.select1{
    width: 250px;
    height: 40px;  
    border-radius: 8px;

background: rgba(255, 255, 255, 0.1); 
}
.select2{
    width: 577px;
height: 40px;
border-radius: 8px;

background: rgba(255, 255, 255, 0.1);
}
.bmi-data-calculator{
 gap: 10px;
}
.BMI-Calculator-data{
    /* justify-content: space-between; */
margin-left: 120px;
background: rgb(34, 34, 34);
padding-left: 150px;
padding-right: 20px;
padding-top: 40px;
padding-bottom: 60px;
gap: 100px;
}


/* Meet Our Team */

.Meet-Our-Team{
    /* border: 2px solid red; */
    margin: 100px 20px 40px 240px;
    
}
.team-headline{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 40px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
}
.team-details{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 10px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
}
.team-name{
    font-size: 14px;
    color: white;
    line-height: 0px
}
.team-pesa{
    font-size: 7px;
    color: white;
    line-height: 0px
}
.team-nam{
   margin-top: -50px;
   margin-right: -60px;
}
.team-img{
    position: static;
    width: 270px;
    height: 220px;
    padding: 10px;
    border-radius: 5px;
}
.meetour-team{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 18px;
 align-items: center;
background: rgba(255, 255, 255, 0.1);
}
.foot{
    margin-left: 120px;
    margin-bottom: 50px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
}
.fitness-footer{
    justify-content: space-between;
    gap: 80px;
}
.last-head{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 60px;
font-weight: 800;
line-height: 60%;
letter-spacing: 0%;
text-align: left;
}
.last-details{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 10px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0.3px;
text-align: left;
}
.last-second-head{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.last-kolam{
    list-style: none;
}
.last-kolam-list{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.line{
    border: 2px solid rgba(255, 255, 255, 0.1);
    height: 0.2px;
    width: 950px;
    justify-content: center;
}
.last-last{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
}






@media screen and (max-width:576px) {
    .navbar{
        padding: 10px;
    }
  .about{
    display: none;
  } 
  .banner{
    flex-direction: column;
    padding: 10px;
  } 
  .Change-Your-Habits{
    padding: 340px 50px 50px 50px;
  }
.banner-headline{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 30px;
font-weight: 600;
/* line-height: 120%; */
letter-spacing: 0%;
}
.habit-card{
   flex-direction: column;

}
.habitcard{
    margin-left: 20px;
}
.Run-an-Extra-Mile-Easily{
    flex-direction: column;
    margin: 7px;
    padding: 10px;
    gap: 15px;
}
.BMI-Calculator-head{
    padding: 10px;
 }
 .BMI-Calculator-data{
 flex-direction: column;
padding: 20px;
margin: 0px;
gap: 40px;
 }
 .Meet-Our-Team{
    margin: 2px;
    padding: 2px;
}
.img-team{
    padding: 0px;
}
.meetour-team{
    grid-template-columns: repeat(1,1fr);
}
.fitness-footer{
    /* margin-left: 5px; */
    margin-bottom: 50px;
    padding: 10px;
}
.fitness-footer{
    flex-direction: column;
    gap: 40px;
}
.line{
    border: 2px solid rgba(255, 255, 255, 0.1);
    height: 0.2px;
    width: 200px;
    justify-content: center;
}



}